
    * {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-image: url("https://i.ibb.co/bRW8dFsg/Screenshot-20250205-195040-3.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
    }

    .container {
      width: auto;
      margin: 20px 20px;
      text-align: center;
      border: 2px solid black;
      border-radius: 15px;
      background: whitesmoke;
      padding: 20px;
    }

    select,
    button {
      font-size: 16px;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      width: 190px;
    }

    #search-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

a {
      text-decoration: none;
      border: 2px solid green;
      padding: 3px;
      border-radius: 5px;
      background: green;
      color: white;
     
}
  
